@font-face {
    font-family: "kenney-thick";
    src: url(fonts/kenney-thick.ttf);
}

@font-face {
    font-family: "kenney-mini";
    src: url(fonts/kenney-mini.ttf);
}

html {
    background-color:rgb(7, 7, 7);
    /* color: #c1d228; */
    color: #8bac0f;
}

body {
    font-family: "kenney-mini";
    text-align: center;
}

h1 {
    font-family: "kenney-thick";
    margin-top: 70px;
}

p {
    font-size: 18px;
}

button {
    border: 0;
    border-color: #8bac0f;
    border-width: 3px;
    /* border-style: solid; */
    background-color: transparent;
    border-radius: 5px;
    color: #8bac0f;
    font-family: "kenney-mini";
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.running-scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding-bottom: 60px;
    padding-top: 50px;
}

.player-score,
.computer-score {
    font-family: "kenney-thick";
}

.results {
    margin-top: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 00;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: rgb(7, 7, 7);
    margin: 13% auto; /* 15% from the top and centered */
    padding: 50px;
    border-color: #8bac0f;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    width: 35%; /* Could be more or less, depending on screen size */
}

.winner {
    font-size: 24px;
    margin-bottom: 30px;
}

.reset-game {
    font-family: "kenney-thick";
    border-color: #8bac0f;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding-bottom: 20px;
}

a {
    color: #8bac0f;
    text-decoration: none;
}